@import './variables/variables';
@import './topography/topography';
@import './utils/utils';
@import './header/header.scss';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
}

.title{

    &-pink{
    color: map-get($colors, 'pink' );

    @include media-min(map-get($breakpoints, "tablet")){
        font-size: 3rem;
        padding: 3rem 0;
        }
    }

    &-black {
        font-size: 2.1rem;
        font-weight: 400;
        color: map-get($colors, 'darker' );


    }
}

.paragraphs-block{
    width: 90%;
    height: auto;
    background: #ffffffb3;

    @include media-min(map-get($breakpoints, "phone")){
        width: 50%;
        min-width: 40%;
        background: rgba(255, 255, 255, 1);
        border: 2px solid lightblue;
        align-self: flex-start;
        margin-left: 2rem;
    }
    @include media-min(map-get($breakpoints, "tablet")){
        width: 50%;
        background: rgba(255, 255, 255, 1);
        border: 2px solid lightblue;
        margin-left: 4rem;
    }
}

.chart{
    height: 50%;
    padding: 5rem 0;
    position: absolute;
    left: 0;
    bottom:0;
    z-index: -2;
    overflow: hidden;
    &-img{

        @include media-min(map-get($breakpoints, "phone")){
            right: 0;
            bottom:-2rem;
        }
    }
}

h6.description {
    text-align: center;
}

p.tip {
    color: map-get($colors, 'darker' );
    font-size: .9rem;
    text-align: center;
}
.list-element {
    padding-left: 1em;
    text-indent: -.7em;
    line-height: 1.5rem;
    margin: 1rem 0;
}

.list-element::before {
    content: "• ";
    color: #4253b4;
    font-size: 1.5rem;
  }

.cards{
    display: flex;
    flex-wrap: wrap;
    @include flex-mixin(center,flex-start,row);
}

.card {
    min-width: 14.4rem;
    max-width: 33.333%;
    @include flex-mixin(center,flex-start,column);
    @include media-min(map-get($breakpoints, "phone")){
        align-items: center;
    }

    &-title, &-description {
        text-align: center;
    }

    &-title {
        font-size: 1.3rem;
        padding: .7rem 0;
    }

    & > img{
        width: 20%;
    }
}

.logos {
    width: 50%;
}
.awards {
    max-width: 90%;
    flex-wrap: wrap;
    .award{
        width: 100px;
        max-width: 30%;
        min-width: 20%;
        margin: 1rem;
    }
}

.logos > img{
    width: 30%;
    margin: 1rem;
}


.dark-bg {
    width: 100%;
    background: map-get($colors, "darker" );
    color: map-get($colors, "primary" );

    & > div {
        margin: 1rem 0;
    }
        .subtitle{
            font-size: 1.2rem;
            text-align: center;
            margin: 0 .5rem 2rem .5rem;
        }
        .button {
            display: table;
            margin: 0 auto;
            width: 12rem;
            padding: 0 auto;
            line-height: 3.5rem;
            background: map-get($colors, "pink" );
            border: none;
            border-radius: 30px;
            color: map-get($colors, "primary" );
            font-weight: 900;
            letter-spacing: .25rem;
            text-transform: uppercase;
            text-align: center;
            transition: all ease .3s;
            margin-bottom: 2rem;
            text-decoration: none;

            &:hover{
                background: map-get($colors, "primary" );
                color: map-get($colors, "secondary" );
            }
        }
}

.footer {
    padding: 1rem 0 0 0;

    &-australia, &-asia, &-us {

        &_title {
            justify-content: flex-start;
        }

        &_cities {
            justify-content: flex-start;
        }
    }

    &-asia, &-us {
        // width: 40%;
        @include flex-mixin(center, left, column );
        flex-wrap: wrap;
    }

    &-description {
        min-width: 200px;
    }

    .rights, .licences {
        width: 100%;
        background: map-get($colors , 'secondary' );
    }

    .licences > p {
        font-size: .2rem;
        margin: 0;
        padding: .1rem;
        line-height: 0;
    }
}